// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$font-family-sans-serif: "Space Grotesk", sans-serif;
$primary: #0d6d5a;
$secondary: #dab785ff;
$success: #108971ff;
$danger: #c03221ff;
$warning: #f2c14eff;
$light: #ecdac1ff;
$dark: #130801ff;


@import "../bootstrap/scss/bootstrap";

// Then add additional custom code here